body {
    background-color: rgba(255, 255, 204, 255);
    margin-top: 2px;
}

#head {
    background-color: rgb(119, 167, 191);
}

input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2px;
}

span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

option{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

label{
    font-family: 'Times New Roman', Times, serif;
    margin: 2px; 
}

p{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

/* .card-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: medium;
} */

option{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2px;
}


button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}

#imgLogo {
    width: 220px;
    position: relative;
    left: 850px;
    top: 15px;
}

#headStylushAnyeale {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    /* -webkit-text-stroke: 2px rgb(249, 201, 242); */
    /* -webkit-text-fill-color: rgb(249, 201, 242); */
    text-align: left;
    position: relative;
    bottom: 100px;
}



#footerStylushAnyeale {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    -webkit-text-stroke: rgb(119, 167, 191);
    -webkit-text-fill-color: rgb(119, 167, 191);
    text-align: right;
}

#navbar {
    background-color: rgb(249, 201, 242);
    position: relative;
    bottom: 60px;

}

#container-fluid {
    background-color: rgb(249, 201, 242);
}

#Anyeale {
    background-color: rgb(249, 201, 242);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}

#texto1 {
    background-color: rgb(249, 201, 242);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2px;
    margin-left: 2px;
}

#texto2 {
    background-color: rgb(249, 201, 242);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2px;
    margin-left: 2px;
}

#texto3 {
    background-color: rgb(249, 201, 242); 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2px;
    margin-left: 2px;
}

#texto4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2px;
    margin-left: 2px;
}

#texto5 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2px;
    margin-left: 2px;
}

#texto6 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 2px;
    margin-left: 2px;
}

.tituloGrande{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
}
a:link{
    text-decoration: none;
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
}